
.full-dim-container {
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;  //necessary to fill fullscreen
  // background-color: #363030;
  background-color: rgb(53,58,64);
  // background: url('src/assets/img/textures/dark-wood.png');

  // overflow-x: hidden;
  // overflow-y: auto;
  font-family: webular;
  overflow: hidden;
}

.list-container {
  padding: 5px;
  position: relative;
  height: 100%;
}

.module-list-container {
  height: 80%;
}

.module-list {
  border-radius: 10px;
  
  // background-color: #4a4a4c;
  background-color: rgb(215, 213, 200);
  // background-image: url('src/assets/brushed-alum-dark.png');
  background-image: url('src/assets/img/textures/dark-wood.png');
  font-family: webular;
  background-repeat: repeat;
  // border: solid 20px #4a4a4c;
}

.rack-list {
  height: 90%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.new-module-list {
  // border: solid 5px red;
  height: 90%;
  overflow-x: auto;
  overflow-y: scroll;
}


.module-list-title {
  margin-bottom: 0%;

  position: relative;
  // width: 400px;
  // height: 30px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  background-color: #4a4a4c;
  color: #8c8c8c;
  font-family: webular;
  font-weight: 700;
  text-align: center;
  padding: 2px;
}

.module-button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #c9a477;
  font-weight: bold;
  // padding: 2px;
  color: rgb(0, 0, 0);
  font-size: 110%;
}

.cdk-drag {
  display: inline-block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Scrollbar css
/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4c2c2; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9a477; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ac8c66; 
}
