  <div class = "containerBlock">
    <!-- <div class = "menuButton" id = "loadButton">
      <select class ="select-menu">
        <option>Load Progres</option>
      </select>
    </div>
    <div class = "menuButton" id = "newButton">
      New Progression
    </div>
    <div class = "upperDisplay">
      <div class = "chordCell" id = "chord1">1</div>
      <div class = "chordCell" id = "chord2">2</div>
      <div class = "chordCell" id = "chord3">3</div>
      <div class = "chordCell" id = "chord4">4</div>
  
    </div>
    <div class = "mainDisplay">
      <div id = "playing">NOW PLAYING</div>
      <div id = "next">NEXT CHORD</div>
    </div>
    <div class = "optionButton" id = "playButton">
      PLAY
    </div>
    
    <div class = "optionButton" id = "stopButton">
      STOP
    </div> -->
    <div class = "mainDisplay">
      <div id = "playing">
        <div class= "title">
          Playing
        </div>
        <div id= "chordPlaying">C halfDim7</div>
      </div>
      <div id = "next">
        <div class = "title">
          Next
        </div>
        <div id = "chordNext">D halfDim7</div>
      </div>
    </div>
  </div>

  <button (click) = 'sendMessage()'>
    PRESS
  </button>