.container{
    width: 100px;
    overflow: hidden;
    padding: 10px;
    background: #272727;
    float: left;
}
.info{
    font-size: 1em;
    width: 70px;
    line-height: 1em;
    box-shadow: inset 0px 0px 11px rgba(0,0,0,1);
    background: #c3dac9;
    text-align: center;
    font-family: monospace;
    border-radius: 3px;
    color: #333333;
}
knob{
    background-size: contain;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: block;
}
knob.skin1{
    background: url('ng2-knob/skins/skin1_back.svg');
    background-size: contain;    
}
knob.skin1 /deep/ .knob{
    background: url('ng2-knob/skins/skin1_front.svg');
    background-size: contain;    
}
knob.skin2{
    background: url('ng2-knob/skins/skin2_back.svg');
    background-size: contain;    
}
knob.skin2 /deep/ .knob{
    background: url('ng2-knob/skins/skin2_front.svg');
    background-size: contain;    
}
knob.skin3{
    background: url('ng2-knob/skins/skin3_back.svg');
    background-size: contain;    
}
knob.skin3 /deep/ .knob{
    background: url('ng2-knob/skins/skin3_front.svg');
    background-size: contain;    
}
knob.skin4{
    background: url('ng2-knob/skins/skin4_back.svg');
    background-size: contain;    
}
knob.skin4 /deep/ .knob{
    background: url('ng2-knob/skins/skin4_front.svg');
    background-size: contain;    
}
knob.skin5 /deep/ .knob{
    background: url('ng2-knob/skins/skin5_front.svg');
    background-size: contain;    
}
