.prog-sequencer {
    display: block;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    background-color: #8c8c8c;
    background-image: url('src/assets/brushed-alum-dark.png');
    font-family: webular;
    font-weight: 700;
    text-align: center;
    padding: 2px;
    width: 520px;
}

.container-block{
    display: inline-flex;
}

.prog-sequencer .title {
    background-color: #4a4a4c;
    color: #8c8c8c;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    padding: 2px;
}
.prog-sequencer .table1 {
	width: 100%;
    padding: 2px;
}
.prog-sequencer .table2 {
    padding: 2px;
    margin-top: 20px;
    width: 100%;
}



.column-off {
	background-color: transparent;
}
.column-on {
	background-color: lightgreen;
}


// addition
.mainDisplay {
    // position: absolute;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    background:rgb(64, 79, 148);
    // margin-left: 150px;
    // margin-top: 33px;
    box-shadow:
    inset 1px 1px 7px 0px #050505,
    0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;
    text-align: center;
    color: rgb(207, 209, 218);
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
  }

#playing {
float: left;
width: 258px;
height:150px;
text-align: center;
}

#next {
//display: inline-flex;
float: right;
width: 140px;
height:150px;
// border: 1px solid black;
text-align: center;
}

.section {
width: 100%;
height: 25px;
// border: 1px solid black;
align-self: center;
font-weight: 100;
}

#chordPlaying {
// border: 1px solid black;
width: 100%;
height: 125px;
font-size: 45px;
padding-top: 25px;
}

#chordNext {
// border: 1px solid black;
width: 100%;
height: 50px;
font-size: 20px;
padding-top: 42.5px;
color: rgb(20, 32, 82);
}
