<div class="container-block">
  <div class="prog-sequencer">
    <div class="title">{{this.data.name}}</div>
    <table> <!-- classes?! -->
      <tr>
        <td *ngFor="let chord of progSequencer.progression.chords;">
          <select [(ngModel)]="chord.root">
            <option *ngFor="let pitchClass of pitchClasses;" [ngValue]="pitchClass">{{pitchClass.pitchClassName}}</option>
          </select>
          <select [(ngModel)]="chord.quality">
            <option *ngFor="let chordQuality of chordQualities;" [ngValue]="chordQuality">{{chordQuality.chordQualityName}}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class = "mainDisplay">
  <div id = "playing">
    <div class= "section">
      Playing
    </div>
    <div id= "chordPlaying">C halfDim7</div>
  </div>
  <div id = "next">
    <div class = "section">
      Next
    </div>
    <div id = "chordNext">D halfDim7</div>
  </div>
</div>
