<div class="row container-block">
  <div class="col-12 prog-sequencer">
    <div class="title">PROG SEQUENCER</div>
    <!-- Bootstrap row for dividing options from oscillator -->
    <div class="row">
      <div class="col-lg-6">
        <!-- row for first three options -->
        <div class="row">
          <div class="col-lg-6 prog-seq-options">
            <div class="row">
              <div class="col-12">INITIAL PROGRESSION</div>
              <div class="col-12">
                <select [(ngModel)]="_activeProgression" (change)="chooseProgression()">
                  <option *ngFor="let progression of _progressionList;" [ngValue]="progression">
                    {{progression.toUpperCase()}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-3 prog-seq-options">
            <div class="row">
              <div class="col-12">DIFFICULTY</div>
              <div class="col-12">
                <select class="difficulty" [(ngModel)]="progSequencer.difficulty">
                  <option *ngFor="let difficulty of difficulties;" [ngValue]="difficulty">
                    {{difficultyNames[difficulty - 1]}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-3 prog-seq-options">
            <div class="row">
              <div class="col-12">CH</div>
              <div class="col-12">
                <select class="ch" [(ngModel)]="progSequencer.channel">
                  <option *ngFor="let channel of channels;" [ngValue]="channel">{{channel}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <button type="button" (click)="toggleSequenceReproduction()">PLAY/PAUSE</button>
          </div>
          <div class="col-lg-6">
            <button type="button" (click)="stopSequence()">STOP</button>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <app-prog-seq-oscillator [isInSoundChain]="false" [midiChannel]="progSequencer.channel"
          [data]="_oscillatorData"></app-prog-seq-oscillator>
      </div>
    </div>



    <!-- <table class="table1">
      <tbody>
        <tr>
          <td>INITIAL PROGRESSION</td>
          <td>DIFFICULTY</td>
          <td>CH</td>
        </tr>
        <tr>
          <td>
            <select [(ngModel)]="_activeProgression" (change)="chooseProgression()">
              <option *ngFor="let progression of _progressionList;" [ngValue]="progression">
                {{progression.toUpperCase()}}</option>
            </select>
          </td>
          <td>
            <select class="difficulty" [(ngModel)]="progSequencer.difficulty">
              <option *ngFor="let difficulty of difficulties;" [ngValue]="difficulty">
                {{difficultyNames[difficulty - 1]}}</option>
            </select>
          </td>
          <td>
            <select class="ch" [(ngModel)]="progSequencer.channel">
              <option *ngFor="let channel of channels;" [ngValue]="channel">{{channel}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table2">
      <tbody>
        <tr>
          <td *ngFor="let chord of progSequencer.progression.chords;">
            <select [(ngModel)]="chord.root" (ngModelChange)="morethanChordChange($event)">
              <option *ngFor="let pitchClass of pitchClasses;" [ngValue]="pitchClass">{{pitchClass.pitchClassName}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td *ngFor="let chord of progSequencer.progression.chords;">
            <select [(ngModel)]="chord.quality" (ngModelChange)="morethanChordChange($event)">
              <option *ngFor="let chordQuality of chordQualities;" [ngValue]="chordQuality">
                {{chordQuality.chordQualityName | chordQualityFormat }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table> -->

    <!-- NB QUI codice del main display -->


    <app-chord-display [chord_voicings]="stocazzo"></app-chord-display>
  </div>
</div>
