<!-- <div id="titleBox">MOOG LADDER FILTER</div> -->
<div class="container-block">
<div class="container example-box">
  <div class="component-title">
    MOOG LADDER FILTER
  </div>
  <div class="slider_container">
    <input type="range" class="slider" id="cutoff" (mousedown)="$event.stopPropagation()" (input)="onCutoffChange($event)" min="1000"
    max="22050" step="1" [(ngModel)]="cutoff_freq"/>
    <div class="parameter">
      Cutoff
    </div>
  </div>
  
  <div class="slider_container">
  <input type="range" class="slider" id="resonance" (mousedown)="$event.stopPropagation()" (input)="onResonanceChange($event)" min="0.2"
    max="1" step="0.01" [(ngModel)]="Q"/>
  <div class="parameter">
    Resonance
  </div>
</div>

</div>

</div>