#clock-led {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
}

.led-off {
    background-color: darkslategray;
}
.led-on {
    background-color: red;
}
