<div class="clock-component-block">
  <div class="component-title">
    CLOCK
  </div>
  <div class="component-body">
    <div class="component-body-sub">
        <div id="clock-led" class="led-off" [ngClass]="{'led-on': on, '': !on}"></div>
    </div>
    <div class="component-body-sub">
      <div class="component-body-sub-info">
        <div class="component-body-sub-info-name">TEMPO</div>
        <div class="component-body-sub-info-value">{{clockManager.bpm}}bpm</div>          
      </div>
    </div>
    <div class="component-body-sub">
      <div class="component-body-sub-selector">
          <knob class="skin1" [min]="clockManager.minValue" [max]="clockManager.maxValue"
          [(ngModel)]="clockManager.bpm"
          [startDegree]="-120" [endDegree]="120"
          [intensive]="true"></knob>
      </div>
    </div>
  </div>
</div>
