.oscBlock{
    display: block;
    position: relative;
    width: 400px;
    height: 280px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    background-color: #8c8c8c;
    background-image: url('src/assets/brushed-alum-dark.png');
    font-family: Futura;
    font-weight: 700;
    padding: 2px;
    float: left;
}
.component-name{
  position: relative;
  // width: 400px;
  height: 30px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  background-color: #4a4a4c;
  color: #8c8c8c;
  font-family: Futura;
  font-weight: 700;
  text-align: center;
  padding: 2px;
}

#label-fine{
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  left: 18%;
  top: 252px;
}
  
#label-coarse{
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  left: 80%;
  top: 252px;
}
  
  #label-volume{
    width: 80px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    top: 206px;
    
  }

  .button{
    // border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 2px 0 rgba(255, 255, 255, 0.2);
    background: #282828;
    width: 35px;
    height: 25px;
    text-align: center;
    color: #D5D3C9;
  }

  img{
    margin-top: -10%;
    height: 70%;
  }
  
  #sin{
    position: absolute;
    top: 44px;
    left: 25%;
    
  }
  
  #sqr{
    position: absolute;
    top: 72px;
    left: 25%;
    
  }
  
  #saw{
    width: 35px;
    position: absolute;
    top: 44px;
    left: 65%;
    
    
  }
  
  #tri{
    width: 35px;
    position: absolute;
    top: 72px;
    left: 65%;
   
  }
  
  .dot{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #7c3030;
    border: 2px rgba(0, 0, 0, 0.15) solid;
  }
  
  #sin-dot{
    left: 65px;
    top: 53px;
  }
  
  #sqr-dot{
    left: 65px;
    top: 77.6px;
  }
  
  #saw-dot{
    right: 65px;
    top: 53px;
    
  }
  
  #tri-dot{
    right: 65px;
    top: 77.6px;
  }
  
  .active{
    background-color: #fe5532;
    box-shadow: 0 0 10px rgba(255, 48, 68, 0.5);
  }
  
  #but{
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
  }

  knob{

    position: absolute;
    transform: translateX(-50%);
    display: block;
    background-size:contain;
}

knob.skin1{
    // background: url('ng2-knob/skins/skin1_back.svg');
    background-size: contain;    
}
knob.skin1 /deep/ .knob{
    background: url('src/assets/knob.png');
    background-size: contain;    
}
/*
knob.skin4{
  background:url('ng2-knob/skins/skin4_back.svg');
  background-size: contain;    
  width:200px;
  height:200px;
}
knob.skin4 /deep/ .knob{
  background:url('ng2-knob/skins/skin4_front.svg');
  background-size: contain;    
  width:200px;
  height:200px;
}
*/
#volumeKnob{
  width: 80px;
  height: 80px;
  top: 108px;
  left: 50%;
  align-content: center;
  position: absolute;
}

#coarseKnob{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20%;
  transform: translateX(-50%);
  top: 182px;
}

#fineKnob{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 80%;
  top: 182px;
  transform: translateX(-50%);
}
