.container{
    position: relative;
    width: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 5px;
}

#label-fine{
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  left: 18%;
  top: 90%;
}
  
#label-coarse{
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  left: 80%;
  top: 90%;
}
  
  #label-volume{
    width: 80px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    top: 70%;
    
  }

  .button{
    border: 1px solid black;
    border-radius: 5px;
    width: 35px;
    text-align: center;
  }
  
  #sin{
    position: absolute;
    top: 5%;
    left: 25%;
    
  }
  
  #sqr{
    position: absolute;
    top: 15%;
    left: 25%;
    
  }
  
  #saw{
    width: 35px;
    position: absolute;
    top: 5%;
    left: 65%;
    
    
  }
  
  #tri{
    width: 35px;
    position: absolute;
    top: 15%;
    left: 65%;
   
  }
  
  .dot{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #7c3030;
    border: 1px solid black;
  }
  
  #sin-dot{
    left: 65px;
    top: 8%;
  }
  
  #sqr-dot{
    left: 65px;
    top: 17%;
  }
  
  #saw-dot{
    right: 65px;
    top: 8%;
    
  }
  
  #tri-dot{
    right: 65px;
    top: 17%;
  }
  
  .active{
    background-color: red;
  }
  
  #but{
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
  }

  knob{

    position: absolute;
    transform: translateX(-50%);
    display: inline-block;
    background-size:contain;
}

knob.skin1{
    background: url('ng2-knob/skins/skin1_back.svg');
    background-size: contain;    
}
knob.skin1 /deep/ .knob{
    background: url('ng2-knob/skins/skin1_front.svg');
    background-size: contain;    
}

knob.skin4{
  background:url('ng2-knob/skins/skin4_back.svg');
  background-size: contain;    
  width:200px;
  height:200px;
}
knob.skin4 /deep/ .knob{
  background:url('ng2-knob/skins/skin4_front.svg');
  background-size: contain;    
  width:200px;
  height:200px;
}

#volumeKnob{
  width: 80px;
  height: 80px;
  top: 35%;
  left: 50%;
  align-content: center;
  position: absolute;
}

#coarseKnob{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 80%;
  transform: translateX(-50%);
  top: 65%;
}

#fineKnob{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 20%;
  top: 65%;
  transform: translateX(-50%);
}
