<div class = "container">
  <div class = "dot active" id = "sin-dot">
  </div>
  <div class = "dot" id = "sqr-dot">
  </div>
  <div class = "dot" id = "saw-dot">
  </div>
  <div class = "dot" id = "tri-dot">
  </div>
  
  <div class = "button" id = "sin">
    SIN
  </div>
  <div class = "button" id = "sqr">
    SQR
  </div>
  <div class = "button" id = "saw">
    SAW
  </div>
  <div class = "button" id = "tri">
    TRI
  </div>
  <knob class = "skin1" #myKnob id ="volumeKnob" [min]="0" [max]="127" [value]="80" [startDegree]="-120"  [endDegree]="120" (change) = "onVolumeChange(myKnob.meterValue)">
    
  </knob>
  <div id="label-volume">
    VOLUME
  </div>
  
  <knob class = "skin1" id ="coarseKnob" [min]="10" [max]="200" [value]="80" [startDegree]="-120"  [endDegree]="120">
  
  </knob>
  <knob class = "skin1" #fineKnob id ="fineKnob" [min]="10" [max]="200" [value]="80" [startDegree]="-120"  [endDegree]="120">
  
  </knob>
  <div id = "label-coarse">
    COARSE
  </div>
  <div id = "label-fine">
    FINE
  </div>
  
 

  
</div>


<button id = "but">
  playNote
</button>