<div class = "container">
  <div class = "dot active" id = "sin-dot">
  </div>
  <div class = "dot" id = "sqr-dot">
  </div>
  <div class = "dot" id = "saw-dot">
  </div>
  <div class = "dot" id = "tri-dot">
  </div>
  
  <div class = "button" id = "sin">
    SIN
  </div>
  <div class = "button" id = "sqr">
    SQR
  </div>
  <div class = "button" id = "saw">
    SAW
  </div>
  <div class = "button" id = "tri">
    TRI
  </div>
  <div id = "volume-knob">
    <div class = "dial">
    </div>
  </div>
  <div id="label-volume">
    VOLUME
  </div>
  
  <div class = "tune-knob" id = "coarse-tune">
    <div class = "dial">
    </div>
  
  </div>
  <div class = "tune-knob" id = "fine-tune">
    <div class = "dial">
    </div>
  
  </div>
  <div id = "label-coarse">
    COARSE
  </div>
  <div id = "label-fine">
    FINE
  </div>
  
 

  
</div>


<button id = "but">
  playNote
</button>