<div class="component-block">
  <div class="component-header">
      <select (change)="typeChange($event)">
          <option *ngFor="let filterType of this.filterTypes;">{{filterType}}</option>
      </select>
  </div>
  <div class="component-body">
    <div class="component-body-sub" *ngFor="let mp of this.modulableParameters;">
      <div class="component-body-sub-info modulated">
        <div class="component-body-sub-info-name" [ngClass]="{'modulated': mp.isModulated}">{{mp.name}}:</div>
        <div class="component-body-sub-info-value" [ngClass]="{'modulated': mp.isModulated}">{{mp.value}}{{mp.uiDescriptor.measurementUnit}}</div>          
      </div>
      <div class="component-body-sub-selector">
          <knob class="skin2" [min]="mp.uiDescriptor.minValue" [max]="mp.uiDescriptor.maxValue"
          [value]="mp.value"
          [startDegree]="-120"  [endDegree]="120"
          [intensive]="false" (change)="mpChange(mp, $event)"></knob>
      </div>
    </div>
  </div>
</div>

<!-- this is FilterComponent implementing IModulableComponent,
  this.modulableParameters[0] is ModulableAudioParamWrapper wrapping frequency as AudioParam -->
<app-lfo [modulatedComponent]="this" [modulatedParameter]="this.modulableParameters[0]"></app-lfo>
