<div>
  <select (change)="typeChange($event)">
      <option *ngFor="let filterType of this.filterTypes;">{{filterType}}</option>
  </select>
</div>

<div>
    <app-knob-lil-ext *ngFor="let mp of this.modulableParameters();"
      [_min]="mp.parameterDescriptor.minUIValue" [_max]="mp.parameterDescriptor.maxUIValue"
      [_value]="mp.uiValue" [_measurementUnit]="mp.parameterDescriptor.measurementUnit"
      [_change]="this.mpChange.bind(null, mp)"></app-knob-lil-ext>
</div>

<!-- this is FilterComponent implementing IModulableComponent,
  this.modulableParameters()[0] is ModulableParameter wrapping frequency as AudioParam -->
<app-lfo [modulatedComponent]="this" [modulatedParameter]="this.modulableParameters()[0]"></app-lfo>

