<div>
  <select (change)="typeChange($event)">
      <option *ngFor="let filterType of _filterTypes;">{{filterType}}</option>
  </select>
</div>

<div>
<app-knob-lil-ext [_min]="this._filter.frequency.minValue" [_max]="this._filter.frequency.maxValue"
  [_value]="this._filter.frequency.value" [_measureUnit]="'Hz'"
  [_change]="this.frequencyChange.bind(null, this)"></app-knob-lil-ext>

<app-knob-lil-ext [_min]="this._filter.Q.minValue" [_max]="this._filter.Q.maxValue"
  [_value]="this._filter.Q.value"
  [_change]="this.resonanceChange.bind(null, this)"></app-knob-lil-ext>
</div>
