<div id="sequencer">
  <div id="selector">
    <table class="wborderedcells">
      <tbody>
        <tr>
          <td>key</td>
          <td>harmonization</td>
          <td>metric</td>
          <!-- <td>midiCh</td> -->
        </tr>
        <tr>
            <td><select id="key" [(ngModel)]="_sequencer.key">
              <option *ngFor="let pitchClass of _pitchClasses;" [ngValue]="pitchClass">{{pitchClass.pitchClassName}}</option>
            </select></td>
            <td><select id="harmonization" [(ngModel)]="_sequencer.harmonization">
                <option *ngFor="let harmonization of _harmonizations;" [ngValue]="harmonization">{{harmonization.name}}</option>
            </select></td>
            <td><select id="metric" [(ngModel)]="_sequencer.metric"
              (ngModelChange)="morethanMetricChange($event)">
                <option *ngFor="let metric of _metrics;" [ngValue]="metric">{{metric}}</option>
            </select></td>
            <!-- <td><select id="midiCh">
              TO ADD
            </select></td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <table class="wborderedcells">
    <tbody id="measure">
      <tr *ngFor="let diatonicNote of _sequencer.scale.diatonicNotes; let notei = index;">
        <!-- ENHARMONIC NAMES -->
        <td class="column-off">{{diatonicNote.pitchClassName}}</td>
        <td *ngFor="let subdivision of _sequencer.measure.subdivisions; let subdivisioni = index;"
        [ngClass]="{'column-off': !(subdivisioni === _subdivisionCounter), 'column-on': (subdivisioni == _subdivisionCounter)}">
          <select [(ngModel)]="subdivision.octaves[notei]">
              <option *ngFor="let possibleOctave of _possibleOctaves;" [ngValue]="possibleOctave">{{possibleOctave}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td class="column-off">duration</td>
        <td class="column-off" *ngFor="let subdivision of _sequencer.measure.subdivisions; let subdivisioni = index;">
            <input type="range" class="inputcell"
            min="0" max="1" step="0.25"
            [(ngModel)]="subdivision.duration" (mousedown)="$event.stopPropagation()" />
        </td>
      </tr>

      <!-- <tr>
        <td>velocity</td>
        <td *ngFor="let subdivision of _sequencer.measure.subdivisions;">
            <input class="inputcell" [(ngModel)]="subdivision.velocity"/>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
