<div class="container-block">
<div class="sequencer">
  <div class="title">{{this.data.name}}</div>
  <div class="selector">
    <table class="table1">
      <tbody>
        <tr>
          <td>KEY</td>
          <td>HARMONIZATION</td>
          <td>METRIC</td>
          <!-- <td>midiCh</td> -->
        </tr>
        <tr>
            <td><select class="key" [(ngModel)]="sequencer.key">
              <option *ngFor="let pitchClass of pitchClasses;" [ngValue]="pitchClass">{{pitchClass.pitchClassName}}</option>
            </select></td>
            <td><select class="harmonization" [(ngModel)]="sequencer.harmonization">
                <option *ngFor="let harmonization of harmonizations;" [ngValue]="harmonization">{{harmonization.name}}</option>
            </select></td>
            <td><select class="metric" [(ngModel)]="sequencer.metric"
              (ngModelChange)="morethanMetricChange($event)">
                <option *ngFor="let metric of metrics;" [ngValue]="metric">{{metric}}</option>
            </select></td>
            <!-- <td><select class="midiCh">
              ...can be added...
            </select></td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <table class="table2">
    <tbody class="measure">
      <tr *ngFor="let diatonicNote of sequencer.scale.diatonicNotes; let notei = index;">
        <!-- enharmonic names can be furtherly improved -->
        <td class="column-off">{{sequencer.scale.useEnharmonicNames[notei] ?
          diatonicNote.enharmonicName : diatonicNote.pitchClassName}}</td>
        <td class="inputcell column-off" *ngFor="let subdivision of sequencer.measure.subdivisions; let subdivisioni = index;"
        [ngClass]="{'column-on': (subdivisioni == subdivisionCounter)}">
          <select [(ngModel)]="subdivision.octaves[notei]">
              <option *ngFor="let possibleOctave of possibleOctaves;" [ngValue]="possibleOctave">{{possibleOctave}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td class="column-off">DURATION</td>
        <td class="column-off" *ngFor="let subdivision of sequencer.measure.subdivisions; let subdivisioni = index;">
            <input type="range" class="inputcell"
            min="0" max="1" step="0.25"
            [(ngModel)]="subdivision.duration" (mousedown)="$event.stopPropagation()" />
        </td>
      </tr>

      <!-- <tr>
        <td>velocity</td>
        <td *ngFor="let subdivision of sequencer.measure.subdivisions;">
            <input class="inputcell" [(ngModel)]="subdivision.velocity"/>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
</div>
