.adsrBlock{
    display: block;
    position: relative;
    width: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #8c8c8c;
    // background: #f2ede0;
    background-image: url('src/assets/brushed-alum-dark.png');
    padding: 2px;
    // float: left;
  }

  #component-name{
    position: relative;
    height: 30px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    background-color: #4a4a4c;
    color: #8c8c8c;
    font-family: Futura;
    font-weight: 700;
    text-align: center;
    padding: 2px;
  }

  #textElement{
    position: relative;
    text-align: center;
    font-family: Futura;
    font-weight: 700;
    margin-top: 20px;
  }

  #envelope {
    position: relative;
    display: block;
    margin-left: 10%;
    top: 20px;
    border: 1px solid black;
    background: #282828;

  }
  /*
  button{
      position: relative;
      display: inline-block;
      transform: translateX(-100%);
      transform: translateY(-100%);
      left: 90%;
      top:100%;
  }
  */