.container{
    position: relative;
    width: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 5px;
    background: #f2ede0;
  }

  #envelope {
    position: relative;
    display: block;
    margin-left: 10%;
    top: 30%;
    border: 1px solid black;
    background: #282828;

  }
  button{
      position: relative;
      display: inline-block;
      transform: translateX(-100%);
      transform: translateY(-100%);
      left: 90%;
      top:100%;
  }