<div class="component-block">

  <div class="component-header">
      <select (change)="waveShapeChange($event)">
          <option *ngFor="let waveShape of waveShapes;">{{waveShape}}</option>
      </select>
  </div>

  <div class="component-body">

    <div class="component-body-sub">
      <div class="component-body-sub-info">
          <div class="component-body-sub-info-name">{{intensity.audioParameter.name}}</div>
          <div class="component-body-sub-info-value">{{intensity.hlValue}}{{intensity.hlDescriptor.measurementUnit}}</div>          
      </div>
      <div class="component-body-sub-selector">
          <knob class="skin2" [min]="intensity.hlDescriptor.minValue" [max]="intensity.hlDescriptor.maxValue"
          [value]="intensity.hlValue"
          [startDegree]="-120"  [endDegree]="120"
          [intensive]="false" (change)="intensityChange($event)"></knob>
      </div>
    </div>

    <div class="component-body-sub">
      <div class="component-body-sub-info">
          <div class="component-body-sub-info-name">{{rate.audioParameter.name}}</div>
          <div class="component-body-sub-info-value">{{rate.hlValue}}{{rate.hlDescriptor.measurementUnit}}</div>          
      </div>
      <div class="component-body-sub-selector">
          <knob class="skin2" [min]="rate.hlDescriptor.minValue" [max]="rate.hlDescriptor.maxValue"
          [value]="rate.hlValue"
          [startDegree]="-120"  [endDegree]="120"
          [intensive]="false" (change)="rateChange($event)"></knob>
      </div>
    </div>

  </div>
</div>
